@media only screen and (max-width:2200px ) and (min-width:120px){

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    background-color: blue;
    height: 50px;
    width: 100%;
}
.uk{
    position: absolute;
    left: 950px;
    top: 15px;
    font-size: 13px;
    border: 1px solid black;
}
.donate{
    position: absolute;
    left: 1025px;
    top: 15px;
    font-size: 13px;
    border: 1px solid black;
}
.result{
    position: absolute;
    left: 1116px;
    top: 15px;
    font-size: 13px;
    border: 1px solid black;
}


.image{
    position: absolute;
    top: 7px;
    left: 80px;
}
.image1{
    position: absolute;
    top: 9px;
    left: 120px;
}
.image2
{
    position: absolute;
    top: 7px;
    left: 160px;
}
.image3{
    position: absolute;
    top: 7px;
    left: 200px;
}
.image4{
    position: absolute;
    top: 7px;
    left: 240px;
}
.image5{
    position: absolute;
    left: 55px;
}


.font{
    color: white;
    font-size: medium;
    padding: 10px;
    position: absolute;
    top: 0.5px;
    left: 350px;
}
.menu-bar{
    background-color: white;
    position: relative;
    left: 300px;

}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li{
    width: 140px ;
    margin: 0px;
    padding: 0.5px;
    font-size: small;
    word-spacing: 1cm;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
}



nav{
    width: 100%;
    height: 45px;
    background: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 10px;
}
.logo{
    
    width: 200px;
    height: auto;
    position: absolute;
    left: 100px;
    bottom:6px;
}

nav ul{
    padding: 1px;
    margin: 0px;
    float: right;
    margin-right: 140px;
    text-decoration: none;
}
nav ul li{
    background: white;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0px 15px;
    color: black;
    text-decoration: none;
    line-height: 30px;
    font-size: 12px;
    border-radius:10px ;
}

nav ul li a:hover{
    background: blue;
    }
nav ul li a:focus{
    color: white;
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover>ul{
    display: block;
}    
nav ul ul li{
    width: 250px;
    float: right;
    display: list-item;
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
nav ul ul ul li{
    position: relative;
    top: -30px;
    left: 150px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.box, nav ul li a:hover{
    background: blue;
    margin: 5px auto;
    border-radius: 10px;
}
.border{
    height: 30px;
    position: absolute;
    left: 100px;
    right: 100px;
    background: royalblue;
    font-size: 13px;
}
.green{
    color: greenyellow;
}
.white{color: white;}
.blue{ color: blue ;}
.intro{
    background: snow;
    height: 600px;
    margin-top: 40px;
    font-family:'Times New Roman';
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.aligntext{
    position: absolute;
    left: 130px;
    right: 130px;
    text-align: justify;
}
.monthly{
    height: 300px;
    background-color: blue;
    color: white;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.dd{
    position: relative;
    left: 80px;
}
.fa{
    position: relative;
    left: 150px;
}
.med{
    position: absolute;
     left: 750px;
}
.edu{
    position: absolute;
     left: 1000px;
}
.display{
    display: inline-flex;
    list-style-type: none;
    position: absolute;
    margin-top: 90px;
    margin-left: 20px;
    text-align: center;
    float: right;
}
.font1{
    font-size: 15px;
}
.font2{
    font-size: 15px;
    font-stretch: narrower;
}
.doing{
    background-color: snow;
    height:650px;
}

table{
    min-width: 1000px;
    max-width: 2000px;
    height: 350px;
    margin: 10px auto;

    border-spacing: 10px 100px;
    text-align: center;
    background-color: white;
    box-shadow: inset 0 0 10px #777777;
    overflow: scroll;
}
th{
    margin-top: 100px;
    padding: 10px ;
    min-width: 200px;
    max-width: 1000px;
    height: 200px;
    margin: 10px ;
    text-align: center;
    box-shadow: inset 0 0 10px #777777;
}
.project{
    margin-left: 160px;
    height: 450px;
    width: 100%;
    font-size: 30px;
}

.table{
    width: 400px;
    height: 200px;
}
.event{
    position: relative;
    bottom: 90px;
    
}
.c1{
    width:300px;
    height: 80px;
    background-color: gainsboro;
    display: inline-block;
    margin-right: 20px;
    padding: 25px;
    font-size: 15px;
}
.c2{
    width:300px;
    height: 80px;
    background-color:gainsboro;
    display: inline-block;
    margin-right: 20px;
    padding: 25px;
    font-size: 15px;
    position: relative;
    bottom: 100px;
}
.c3{
    width:340px;
    height: 230px;
    background-color :whitesmoke;
    display: inline-block;
    position: absolute;
    left: 700px;
    font-size: 15px;
    padding: 10px;
    text-align: justify;
}
.gap{
    position: relative;
    left: 150px;
    font-size: 30px;
}
.gallery{
    width: 100%;
    background-color: white;
    height: 350px;
}
.g{
    text-align: center;
    align-items: center;
    position: relative;
    left: 30px;
}
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}
.footer .footer-bottom{
    background: steelblue;
    color: white;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    width: 100%
}
html, body{
    height: 100%;
}
.footer .footer-content{
    display: flex;
}
.footer .footer-content .footer-section{
    flex: 1;

}
.address{
    padding: 60px;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}
.link{
    position: relative;
    left: 400px;
}
.desh{
    position: relative;
    left: 490px;
}
.connect{
    position: relative;
    left: 600px;
}
.foot{
    position: relative;
    left: 720px;
    bottom: 260px;
}
.copy{
    position: absolute;
    left: 58px;
}
.uan{
    position: relative;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.ariel{
    font-family: Arial, Helvetica, sans-serif;
}
}
